<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
        <a href="/">Home</a>
        <a href="/flights">All Flights</a>
    </nav>