<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mongoose-Flights</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/flights">All Flights</a>
        <a href="/flights/new">New Flight</a>
    </nav>